<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.springmvc04.model.mapper.ItemMapper">
<select id="getTotalItemCount" resultType="int">
	select count(*) from spring_item
</select>
<sql id="selectItem">
	SELECT item_no,name,maker,price, to_char(reg_date,'yyyy-MM-DD HH24:MI:SS') as regDate FROM spring_item
</sql>
<select id="findItemByNo" parameterType="int" resultType="ItemDTO">
	<include refid="selectItem"/>	
	where item_no=#{value}
</select> 
<select id="getAllItemList" resultType="ItemDTO">
	<include refid="selectItem"/>
	order by item_no desc
</select>
<insert id="registerItem" parameterType="ItemDTO">
	insert into spring_item values(spring_item_seq.nextval, #{name},#{maker},#{price}, sysdate)
<selectKey keyProperty="itemNo" resultType="int" order="AFTER">
	SELECT spring_item_seq.currval FROM DUAL
</selectKey>
</insert>
</mapper>